.iq-inline-datepicker{
    border-radius: $border-radius;
    background-color: custom-var('primary-light');
    .flatpickr-calendar{
        width: 100%;
        box-shadow: none;
        background-color: custom-var('primary-light');
    }
    .flatpickr-innerContainer{
        justify-content: center;
        .flatpickr-days{
            width: 100%;
            .dayContainer{
                width: 100%;
                min-width: 100%;
            }
        }
    }
    .flatpickr-months {
        margin-bottom: 1em;
        .flatpickr-current-month{
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .flatpickr-next-month, .flatpickr-prev-month {
            padding: 0 0.5em;
            color: $primary !important;
            fill: $primary !important;
            display: flex;
            align-items: center;
            svg{
                width: 24px;
                height: 24px;
                border: 1px solid;
                padding: 6px;
                border-radius: 50em;
            }
            &.flatpickr-disabled{
                display: none;
            }
            &:hover svg{
                fill: $primary !important;
            }
        }
        .flatpickr-next-month {
            right: 30px;
        }
        .flatpickr-prev-month {
            left: 30px;
        }
    }

    .flatpickr-day {
        width: 100% !important;
        margin: auto !important;
    }
    .flatpickr-rContainer {
        width: 100%;
    }
}
.iq-inline-datepicker .flatpickr-innerContainer .flatpickr-days .dayContainer {
    max-width: 100%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
    background: custom-var('primary');
    border-color: custom-var('primary');
}


.course-picker {
    .flatpickr-innerContainer {
        .flatpickr-days .dayContainer {
            min-width: auto;
          }
    }
}