.iq-social-comment-text{
    .form-control{
        padding-left: 7rem;
        padding-right: $input-padding-x;
    }
    .iq-social-comment-attagement{
        left: 1rem;
        right: unset;
    }
}